In [3]:
x = '%s %s %d' % ('hello', 'world', 12)
print(x)
print(x.capitalize())

hello world 12
Hello world 12

In [4]:
print(x.upper())
txt = x.rjust(20)
print(txt)
y = x.center(20, '$')
print(y)

HELLO WORLD 12
      hello world 12
$$$hello world 12$$$

In [5]:
num = list(range(5))
print(num[2:4])
print(num)
print(num[:4])
print(num[2:])
print(num[:])
print(num[:-1])

[2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]

In [6]:
x = 2022 - 1997
y = 'I am sena'
z = 45.2

if z<4:
    print('z is larger than 4')
elif z == 45.2 or y == 'I am not sena':
    x +=1
    y = y + '' + " and i am strong enough"
    print('Senas age is: ', x)
    print(y)
else:
    print(' i dont know')

Senas age is:  26
I am sena and i am strong enough

In [7]:
list = ['apple', 'banana', 'strawberry', 'coffee']
for i, j in enumerate(list):
    print('#%d: %s' % (i +1, j))

#1: apple
#2: banana
#3: strawberry
#4: coffee

In [8]:
import csv
file_name = '/Users/senaakpalamut/Desktop/Tutorial_3_data.csv'
data =[]
header = []

csv_file = open(file_name)
csvreader = csv.reader(csv_file)
header = next(csvreader)

for row in csvreader:
    data.append(row)

In [9]:
x2 = data[0:4]
print(type(x2))
x3 = 3
x3 = float(x3)
print(x3)

<class 'list'>
3.0

In [10]:
x= float('25.657')
print(x)

25.657

In [13]:
import matplotlib.pyplot as plt
x = [float(t) for t in data[0:4]]
y = [float(t) for t in data[1:5]]
plt.plot(x,y)
plt.show()

TypeError: float() argument must be a string or a number, not 'list'